OPENAI_API_KEY= sk-proj--KN8AKvsFAoA_rAPDq77uYHFNBEBL69GWZhhGx_EcJAKQ9zrzrEpS-dqz7UXDS0Tip6jo7j0EcT3BlbkFJH_mtV3-eXEgKYOU9VxzZDI8p2cJATMEPe5Ay4e_AJCngZvHDDsrRZxxEXOMpbsmPTOgkFiFq8
MODEL_NAME=gpt-4.1-mini
APP_ENV=development